In [55]:
import pandas as pd
from sqlalchemy import create_engine
import os

In [40]:
csv_file2 = "Video_Games_Sales_as_at_22_Dec_2016.csv"
csv_file3 = "XboxOne_GameSales.csv"
csv_file4 = "gamecomm.csv"

In [53]:
Video_Games_Sales_as_at_22_Dec_2016_df = pd.read_csv(csv_file2)
Video_Games_Sales_as_at_22_Dec_2016_df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
XboxOne_GameSales_df = pd.read_csv(csv_file3, encoding="ISO-8859-1")
XboxOne_GameSales_df.head()

,Pos,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,1,Grand Theft Auto V,2014.0,Action,Rockstar Games,4.70,3.25,0.01,0.76,8.72
1,2,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,4.63,2.04,0.02,0.68,7.37
2,3,Call of Duty: WWII,2017.0,Shooter,Activision,3.75,1.91,0.00,0.57,6.23
3,4,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,3.76,1.47,0.00,0.54,5.77
4,5,MineCraft,2014.0,Misc,Microsoft Studios,3.23,1.71,0.00,0.49,5.43

In [8]:
PS4_GameSales_df.head()

NameError: name 'PS4_GameSales_df' is not defined

In [109]:
gamecomm_df = pd.read_csv(csv_file4, error_bad_lines=False, header=0)
gamecomm_df.columns = gamecomm_df.columns.str.replace(' ', '')
print(gamecomm_df.columns)

Index(['game_title', 'editorial_rating', 'user_rating', 'game_price', 'editor',
       'type', 'date', 'device'],
      dtype='object')

b'Skipping line 482: expected 8 fields, saw 9\n'

In [112]:
gamecomm_df = gamecomm_df[["game_title","editorial_rating","editor"]].copy()
gamecomm_df.head()

                                 game_title  editorial_rating        editor
0            Kingpin : Life of Crime sur PC                19     Interplay
1                 Batman Arkham City sur PC                19    Rocksteady
2  Baldur's Gate II : Shadows of Amn sur PC                19     Interplay
3                      Splinter Cell sur PC                19       Ubisoft
4          The Witcher 3 : Wild Hunt sur PC                19  CDProjektRED

In [79]:
Video_Games_Sales_as_at_22_Dec_2016_df = Video_Games_Sales_as_at_22_Dec_2016_df[["Name","Publisher","NA_Sales","Global_Sales"]].copy()
Video_Games_Sales_as_at_22_Dec_2016_df.head()

                       Name Publisher  NA_Sales  Global_Sales
0                Wii Sports  Nintendo     41.36         82.53
1         Super Mario Bros.  Nintendo     29.08         40.24
2            Mario Kart Wii  Nintendo     15.68         35.52
3         Wii Sports Resort  Nintendo     15.61         32.77
4  Pokemon Red/Pokemon Blue  Nintendo     11.27         31.37